#app {
  .ant-layout {
    min-height: 100vh;
  }
  .ant-list {
    margin-top: 2rem;
    background: #fff;
  }
  h1 {
    text-align: center;
    padding: 1rem 0;
  }
}

body,
html {
  p {
    font-family: sans;
    font-size: 1rem;
  }
  .ui.form .field > label {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .ui.dimmer {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
