#app {
  .ant-layout {
    min-height: 100vh;
  }
  .ant-list {
    margin-top: 2rem;
    background: #fff;
  }
  h1 {
    text-align: center;
    padding: 1rem 0;
  }
}

body,
html {
  p {
    font-family: sans;
    font-size: 1rem;
  }
}
